/*index.css*/

body {
  background: hsl(0, 0%, 0%);
}

.card {
  background: #fff5e0;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card-image {
  width: 150px;
  height: 175px;
  object-fit: cover;
  border-radius: 5px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 10px 10px 15px hsl(0, 0%, 0%, 0.2);
}
